//=======================================================================================================================================================================================================================================================
.api-button {
   @include dynamic-font(16, 10);
   position: fixed;
   width: em(40);
   height: em(40);
   top: em(5);
   right: em(5);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
   background: $color-1;
   @include transition();
   body.js_s-mouse &:hover {
      background-color: color.scale($color-1, $lightness: +20%);
   }
   span {
      font-size: em(14);
      font-weight: 700;
   }
}
//=======================================================================================================================================================================================================================================================
