//=======================================================================================================================================================================================================================================================
.popup {
   $popupBackSide: rgba(#000, 0.9);
   $popupBackground: $backgroundColor;
   $popupMaxWidth: 800;
   $buttonSize: 40;
   $popupColor: $color;
   @include dynamic-font(16, 12);
   visibility: hidden;
   overflow: auto;
   z-index: 100;
   padding: em(8);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   @include transition(0.5, 0, 0, visibility);
   &::before {
      content: "";
      background: $popupBackSide;
      opacity: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include transition(0.5, 0, 0, opacity);
   }
   &.js_s-act-popup {
      visibility: visible;
      &::before {
         opacity: 1;
      }
      .popup__body {
         opacity: 1;
         transform: perspective(rem(600)) translate(0, 0) rotateX(0deg);
      }
   }
   &__content {
      flex-direction: column;
      min-height: 100%;
      flex: 1 1 auto;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__body {
      opacity: 0;
      transform: perspective(rem(600)) translate(0, -100%) rotateX(45deg);
      @include transition();
      background: $popupBackground;
      color: $popupColor;
      padding: em(50);
      width: 100%;
      @include dynamic-max-width($popupMaxWidth, $designWidth);
   }
   &__close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 30;
      img {
         width: em($buttonSize);
         height: em($buttonSize);
      }
   }
}
//=======================================================================================================================================================================================================================================================
.setup {
   &__title {
      font-size: em(28);
      @function em($one, $two: 28) {
         @return prc($one, $two, 1) + 0em;
      }
      font-weight: 700;
      letter-spacing: em(0.5);
      margin-bottom: em(25);
   }
   @at-root .profiles {
      margin-bottom: em(40);
      &__title {
         font-size: em(18);
         @function em($one, $two: 18) {
            @return prc($one, $two, 1) + 0em;
         }
         margin-bottom: em(5);
      }
      &__select-profile {
      }
      @at-root .form-profiles {
         display: flex;
         gap: em(5);
         margin-bottom: em(15);
         &__input {
            flex: 1 1 70%;
         }
         &__btn {
            font-size: em(17);
            @function em($one, $two: 17) {
               @return prc($one, $two, 1) + 0em;
            }
            font-weight: 700;
            flex: 1 1 30%;
            background: $color-3;
            @include transition();
            border-radius: em(5);
            body.js_s-mouse &:hover {
               background: $color-2;
            }
         }
      }
   }
   @at-root .form-setup {
      &__field {
         display: flex;
         flex-direction: column;
         gap: em(5);
         margin-bottom: em(20);
         &:last-child {
            margin: 0;
         }
      }
      &__title {
         font-weight: 700;
         font-size: em(22);
      }
      &__label {
         font-size: em(18);
         line-height: em(22);
         @function em($one, $two: 18) {
            @return prc($one, $two, 1) + 0em;
         }
      }
      &__btn {
         background: $color-3;
         padding: em(10) em(20);
         font-size: em(20);
         border-radius: em(10);
         @include transition();
         body.js_s-mouse &:hover {
            background: $color-2;
         }
      }
   }
}
//=======================================================================================================================================================================================================================================================
