//=======================================================================================================================================================================================================================================================
@use "sass:color";
@use "sass:math";
@import "components/core.scss";
//=======================================================================================================================================================================================================================================================

//=======================================================================================================================================================================================================================================================
@import "components/libs/lazysizes.scss";
//=======================================================================================================================================================================================================================================================
.content {
   display: flex;
   flex-direction: column;
}
//=======================================================================================================================================================================================================================================================
.chat {
   position: relative;
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   @include dynamic-font(16, 10);
   &:before,
   &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: em(50);
      left: 0;
      z-index: 1;
   }
   &:before {
      top: 0;
      background: linear-gradient(180deg, rgba($color-4, 1) 20%, rgba(0, 0, 0, 0) 100%);
   }
   &:after {
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba($color-4, 1) 80%);
   }
   &__scroll-container {
      padding: em(50) 0;
      overflow-y: scroll;
      height: 70vh;
      flex: 1 1 auto;
   }
   &__body {
      display: flex;
      flex-direction: column;
   }
   @at-root .message {
      opacity: 0;
      visibility: hidden;
      $message-bg: $color-3;
      background: $message-bg;
      padding: em(25) em(15);
      margin-bottom: em(30);
      border-radius: em(15);
      max-width: 90%;
      position: relative;
      &:last-child {
         margin: 0;
      }
      &.js_s-message-typing {
         span {
            width: em(8);
            height: em(8);
            border-radius: 50%;
            font-weight: 700;
            background: $color;
            margin-right: em(5);
            &:last-child {
               margin: 0;
            }
            animation: dot-typing 0.6s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate 0s forwards;
            @keyframes dot-typing {
               0% {
                  transform: translateY(-100%);
                  opacity: 0.3;
               }
               40% {
                  opacity: 1;
               }
               60% {
                  opacity: 1;
               }
               100% {
                  transform: translateY(100%);
                  opacity: 0.3;
               }
            }
            &:nth-child(2) {
               animation-delay: 0.1s;
            }
            &:nth-child(3) {
               animation-delay: 0.2s;
            }
         }
      }
      &_friend {
         align-self: flex-start;
         border-bottom-left-radius: 0;
      }
      &_user {
         align-self: flex-end;
         border-bottom-right-radius: 0;
      }
   }
}
//=======================================================================================================================================================================================================================================================
@import "components/modules/form/base";
@import "components/modules/form/null";
@import "components/modules/form/components/input";
//=======================================================================================================================================================================================================================================================
.form {
   @include dynamic-font(16, 10);
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   background: $color-3;
   padding: em(10) em(6);
   &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: em(5);
      overflow: hidden;
      background: $color-1;
   }
   &__input {
      background: $color-1;
      flex: 1 1 auto;
      resize: none;
      color: $color;
      padding-right: em(50);
      &.js_s-focus {
         background-color: color.scale($color-1, $lightness: +20%);
      }
   }
   &__btn {
      position: absolute;
      width: em(50);
      height: 100%;
      top: 0;
      right: 0;
      img {
         width: em(40);
      }
   }
}
//=======================================================================================================================================================================================================================================================
@import "components/modules/scroll/bar.scss";
@import "components/modules/footer.scss";
@import "components/modules/reset-button.scss";
@import "components/modules/lock.scss";
@import "components/libs/alertify.scss";
@import "components/modules/stop-anim-while-resize.scss";
//=======================================================================================================================================================================================================================================================
